{% extends 'base.htm.j2' %}
{% block content %}

<div>
    <h1>
    <a href="{{  url_for('teacherview', course_id = course_id) }}">  <br>Click to view videos</a><br/>
    </h1>

    
 
</div>

{% endblock content %}