{% extends 'base.htm.j2' %}
{% block content %}

<div>
    <h1>Quizzes withing this course </h1>
    {% for x in quizListIndices %}
    <a href="{{ url_for('viewquiz', quiz_id=x) }}"> <br>quiz: {{x}}</a><br/>
    {% endfor %}

    
 
</div>

{% endblock content %}