{% extends 'base.htm.j2' %}
{% block content %}

<div>
	{{key}}
	<br>
	<br>

    <video width="480" height="360" controls muted>
  <source src= {{url}} type="video/mp4">
  <source src= {{url}} type="video/ogg">
  Your browser does not support the video tag.
</video>

    <br>
    <br>

    <object data= {{txtUrl}} type="text/plain"
	width="500" style="height: 300px">
	<a href={{txtUrl}}>No Support?</a>
	</object>


    
</div>

{% endblock content %}